.choose_name_result,
.choose_name_result_2 {
    border: solid 2px black;
    height: 20px;
    width: 200px;
    font-family: sans-serif;
    color: purple;
}

.canvas_area {
    border: 1px solid black;
}

.names_list_input {
    width: 700px;
}
