body {
    background-color: #38bcac;
    font: normal 15pt Arial;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
}

.input_value {
    text-align: right;
}

span + h2 {
    margin-top: 800px;
}
