.input_value::-webkit-outer-spin-button,
.input_value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
.input_value[type="number"] {
    -moz-appearance: textfield;
}

.input_value {
    text-align: right;
}
