.wrapper {
    font-size: 1.5em;
}

.box {
    background-color: aqua;
    border: solid 3px blue;
    margin-bottom: 10px;
}

.comparative {
    width: 200px;
    background-color: magenta;
    border: solid 3px orange;
    margin-bottom: 10px;
}

.px {
    width: 200px;
}

.vw {
    width: 10vw;
}

.em {
    width: 10em;
}


.ul_em li {
    font-size: 1.3em;
}

.ul_rem li {
    font-size: 1.3rem;
}


p {
    margin: 0;
    background-image: repeating-linear-gradient(to top,
            lightskyblue 0 2px,
            transparent 2px 1lh);

    width: 400px;
}


.wrapper2 {
    width: 400px;
    border: solid 3px rebeccapurple;
}

.wrapper1 .px,
.wrapper2 .px {
    width: 200px
}

.wrapper1 .percent,
.wrapper2 .percent {
    width: 40%;
}

.ul_percent {
    font-size: 32px;
}

.ul_percent li {
    font-size: 80%;
}

.image_container {
    padding: 20px;
    border: solid 2px black;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background_image {
    width: 1000px;
    height: 300px;
}

.inside_div {
    position: absolute;
    background-color: white;
    border: solid 2px blue;
    opacity: 0.6;
}


.gradient_image {
    width: 400px;
    height: 200px;
    background-image: linear-gradient(90deg, rgba(67, 2, 141, 0.39), rgb(8, 180, 45));
}


.calculated_wrapper {
    width: 2000px;
    height: 100px;
}

.calculated_div {
    border-radius: 10px;
    border: 2px purple solid;
    background-color: aquamarine;

    width: calc(20% + 100px);
}
