.exercise_1 div {
    width: 500px;
    height: 50px;
    margin: 10px;
}

.hex_color_div {
    background-color: #86DEFA;
}

.rbg_color_div {
    background-color: rgb(134, 222, 250);
}

.hsl_color_div {
    background-color:hsl(194, 92%, 75%);
}

.rgb_alpha_color_div {
    background-color: rgb(134, 222, 250, 0.6);
}


.exercise_2 h1 {
    font-size: 50px;
}

.exercise_2 h2 {
    font-size: 2em;
}

.exercise_2 p {
    font-size: 16px;
}

.exercise_2 h1 + p {
    font-size: 120%;
}
