* {
    box-sizing: border-box;
}

body {
    font-size: 1.25rem;
    font-family: system-ui, sans-serif;
}

main {
    /* // Responsively cap width */
    width: min(60ch, 100vw - 2rem);
    /* // Responsively allow a greater distance on taller viewports */
    margin-top: max(8vh, 2rem);
    margin-right: auto;
    margin-left: auto;
}

h2 {
    /* // Responsively adjust border width relative to fluid type size */
    border: min(6px, 0.15em) solid purple;
    font-size: clamp(1.5rem, 6vw + 1rem, 3rem);
    /* // Relative padding, no less than 1rem */
    padding: max(5%, 1rem);
}

p {
    line-height: 1.5;
}

a {
    color: blue;
}